<div class="h-full">
    @if (Model?.SearchHistory is not null)
    {
        @foreach (var item in Model.SearchHistory)
        {
            <div class="px-5 py-2 border-b last:border-b-0">
                <span class="text-slate-500 text-sm timestamp">@item.Created</span>

                @foreach (var choice in item.Choices)
                {
                    <p class="text-xs">@choice.Text</p>
                }
            </div>
        }
    }
    else
    {
        <div class="h-full w-full flex justify-center items-center">
            <p class="text-slate-400">History will show here</p>
        </div>
    }
</div>