<style>
    #plane {
        background-image: url("plane.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="block h-full w-full flex-center items-center flex p-3" id="plane">

</div>