@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Layout.cshtml";
}

<section class="bg-slate-50 h-screen w-screen flex overflow-hidden">
    <aside class="w-1/4 border-r overflow-auto">
        <partial name="~/Views/Partials/Aside.cshtml" />
    </aside>

    <main role="main" class="grow h-full overflow-hidden flex flex-col">
        <partial name="~/Views/Partials/Main.cshtml" />
    </main>
</section>