@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Layout.cshtml";
}

<section class="flex flex-col border-b h-screen w-screen">
    <nav class="px-5 py-3 bg-slate-800">
        <partial name="~/Views/Partials/Nav.cshtml" />
    </nav>

    <section class="bg-slate-50 overflow-hidden grow p-5">
        <h1>Sign In</h1>
    </section>
</section>