@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Layout.cshtml";
}

<section class="flex flex-col h-screen w-screen">
    <nav class="px-5 py-3 bg-slate-800 border-b border-slate-700">
        <partial name="~/Views/Partials/Nav.cshtml" />
    </nav>

    <section class="bg-slate-50 overflow-hidden grow flex">
        <div class="w-3/4 items-center justify-center flex-col flex">
            <div class="w-full">
                <div class="w-2/5 mx-auto flex flex-col gap-4">
                    <a tabindex="4" href="/sign-up" class="hover:underline text-slate-800">Click here to sign up</a>
                    <h1 class="text-xl text-3xl">Sign In</h1>

                    <form action="/sign-in" method="POST" class="w-full flex items-start flex-col gap-2">
                        <div class="flex flex-col gap-1 w-full">
                            <label for="email">Email</label>
                            <input tabindex="1" autofocus type="email" id="email" name="Email"
                                class="border p-1 rounded-md">
                        </div>
                        <div class="flex flex-col gap-1 w-full">
                            <label for="password">Password</label>
                            <input tabindex="2" type="password" id="password" name="Password"
                                class="border p-1 rounded-md">
                        </div>

                        <button tabindex="3"
                            class="ml-auto mt-1 border bg-slate-800 text-white px-3 py-2 rounded-md focus:bg-slate-600">
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="w-full">
            <partial name="~/Views/Partials/SignInImage.cshtml" />
        </div>
    </section>
</section>