@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Layout.cshtml";
}

<section class="flex flex-col border-b h-screen w-screen">
    <nav class="px-5 py-3 bg-slate-800">
        <partial name="~/Views/Partials/Nav.cshtml" />
    </nav>

    <section class="bg-slate-50 overflow-hidden grow p-5 flex flex-col gap-2">
        <h1 class="text-xl">Sign Up</h1>

        <form action="/sign-up" method="POST" class="flex items-start flex-col gap-2">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="Email" class="border">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" class="border">
            </div>

            <button class="border bg-slate-800 text-white px-2 py-1 rounded-md">Sign Up</button>
        </form>
    </section>
</section>